[submodule "common_lib"]
	path = common_lib
	url = git@github.com:ppkt/common_lib.git
[submodule "device_lib"]
	path = device_lib
	url = git@github.com:ppkt/device_lib.git
[submodule "blinky/device_lib"]
	path = blinky/device_lib
	url = git@github.com:ppkt/device_lib.git
[submodule "blinky/common_lib"]
	path = blinky/common_lib
	url = git@github.com:ppkt/common_lib.git
[submodule "usart/common_lib"]
	path = usart/common_lib
	url = git@github.com:ppkt/common_lib.git
[submodule "ds18b20/common_lib"]
	path = ds18b20/common_lib
	url = git@github.com:ppkt/common_lib.git
[submodule "ds18b20/device_lib"]
	path = ds18b20/device_lib
	url = git@github.com:ppkt/device_lib.git
[submodule "blinky/libopencm3"]
	path = blinky/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
